In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('eth_data.csv')
data.head()

,unix,date,symbol,open,high,low,close,Volume ETH,Volume USDT,tradecount
0,1.630714e+12,2021-09-04 00:00:00,ETH/USDT,3938.11,3947.70,3913.62,3946.59,6635.24210,2.608113e+07,28103.0
1,1.630627e+12,2021-09-03 00:00:00,ETH/USDT,3785.82,4027.88,3705.05,3938.11,655903.75739,2.557663e+09,1678132.0
2,1.630541e+12,2021-09-02 00:00:00,ETH/USDT,3826.82,3836.80,3717.04,3785.82,525165.79960,1.981758e+09,1402190.0
3,1.630454e+12,2021-09-01 00:00:00,ETH/USDT,3429.19,3842.00,3382.22,3826.82,845759.95868,3.038499e+09,2022132.0
4,1.630368e+12,2021-08-31 00:00:00,ETH/USDT,3229.14,3476.00,3188.77,3429.20,863071.13092,2.895209e+09,1772849.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   unix         1481 non-null   float64
 1   date         1481 non-null   object
 2   symbol       1481 non-null   object
 3   open         1481 non-null   float64
 4   high         1481 non-null   float64
 5   low          1481 non-null   float64
 6   close        1481 non-null   float64
 7   Volume ETH   1481 non-null   float64
 8   Volume USDT  1481 non-null   float64
 9   tradecount   1357 non-null   float64
dtypes: float64(8), object(2)
memory usage: 115.8+ KB

In [7]:
data.columns

Index(['unix', 'date', 'symbol', 'open', 'high', 'low', 'close', 'Volume ETH',
       'Volume USDT', 'tradecount'],
      dtype='object')

In [19]:

data.tail()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1481 non-null   object
 1   symbol       1481 non-null   object
 2   open         1481 non-null   float64
 3   high         1481 non-null   float64
 4   low          1481 non-null   float64
 5   close        1481 non-null   float64
 6   Volume ETH   1481 non-null   float64
 7   Volume USDT  1481 non-null   float64
 8   tradecount   1357 non-null   float64
dtypes: float64(7), object(2)
memory usage: 104.3+ KB